
.footer {
    width: 100%;
    background-color: @color1;
    bottom: 0;
    border-top: 2px solid red;
}

/***************************************************Footer-Bigger*/
.footer__bigger {
    height: 412px;
    border-bottom: 1px solid #1d1e20;
    width: 100%;
}

.footer__bigger__widget{
    padding:45px 11px;
    color: #939393;
}

.footer__bigger__widget a{
    color: #bbbbbb;
    text-decoration: none;
}

.footer__bigger__widget__title{
    height: 34px;
    background-color: #252729;
    color: #c9c9c9;
    width: 100%;
    padding: 5px 14px;
    font-size: 18px;
}

.footer__bigger__widget__title:after {
    position: absolute;
    top: 79px;
    left: 55px;
    width: 0;
    height: 0;
    border-top: 6px solid #252729;
    border-right: 6px solid rgba(0,0,0,0);
    border-left: 6px solid rgba(0,0,0,0);
    content: no-close-quote;
}

.footer__bigger__widget__posts{
    list-style-type: none;
    padding: 0;
}

.footer__bigger__widget__posts_img{
    margin: 20px;
    margin-left: 0px;
    float: left;
    position: relative;
    display: block;
}

/***************************************************Footer-Lower*/
.footer__lower {
    width: 100%;
    height: 56px;
    border-top: 1px solid #242528;
    padding-top: 14px;
    color: #797979;
}

.footer__lower__back-Top {
    float: right;
    cursor: pointer;
}

.footer__lower__copyright {
    float: left;
    cursor: pointer;
}
