/**************************************REST_CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover {
    text-decoration: none;
}

/*****************OTHER SETTINGS*/

.nonselect {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.clear-padding{
    padding: 0!important;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.color1{
    background-color: #3c96bb!important;
}

.color2{
    background-color: #ff4366!important;
}

.color3{
    background-color: #eb85a5!important;
}

.color4{
    background-color: #f55a5a!important;
}

.color5{
    background-color: #00b4ff!important;
}

.color6{
    background-color: #484848!important;
}

.color7{
    background-color: #52ab0a!important;
}

.color8{
    background-color: #34466b!important;
}

/***************************************************Social-Icons*/

.social-icons {
    height: 100px;
    padding: 0px;   
    width: 100%;
    overflow: hidden;
    display: inline-block;
} 

.social-icons ul li a {
    color: #818181;
    font-size: 16px;
    float: left;
    padding-top: 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    margin-right: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.social-icons ul li a:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color:@textcolor4;
}

.social-icons ul li a.dribbble:hover {
    background-color: #FA4086;
}

.social-icons ul li a.facebook:hover {
    background-color: #325c94;
}

.social-icons ul li a.googleplus:hover {
    background-color: #d9031f;
}

.social-icons ul li a.twitter:hover {
    background-color: #00abdc;
}

.social-icons ul li a.rss:hover {
    background-color: #F60;
}
