.topbar{
    background-color: @color1;
    height: 46px;
}
/***************************************************Newsticker*/
.newsticker{
    margin-top: 11px;
}

.newsticker_Icon {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}

.newsticker_icon_outline {
    box-shadow: 0 0 1px @color2;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    position: absolute;
    z-index: 99;
    top: 1px;
    left: 1px;
}

.newsticker_icon_center {
    background-color: @color2;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    position: absolute;
    top: 11px;
    left: 11px;
}

.newsticker_title{
    float: left;
    padding-left: 14px;
    padding-top: 4px;
    position: relative;
}

.newsticker_title_text{
    font-size: 12px;
    color: @textcolor1;
}

.newsticker_title_text_animation{
    position: absolute;
    float: right;
    font-size: 12px;
    color: #fff;
    background-color: @color1;
    width: 0%;
    right: 0px;
}
/***************************************************Newsticker*/

/***************************************************Newsticker*/
